.btn-primary.signin-button,.btn-primary.signin-button:hover, .btn-primary.signin-button:active {
  color: #fff;
  background-color: #2F2F2F !important;
  border: none;
  margin-top: 20px;
}

#msLogo {
  padding-right: 12px;
  margin-top: -2px;
}

.success {
  margin-right: 20px;
}


.success .text-primary {
  color: #12b886 !important;
}

.success-message {
  font-size: 20px;
  margin-bottom: 60px;
  display: inline;
}

.btn-primary {
  color: #fff !important
}

.btn-secondary {
  background-color: #fff;
  color: #0facf3 !important;
  border: 2px solid #0facf3;
}

.btn-secondary:hover, .btn-secondary.active:active, .btn-secondary:not(:disabled):not(.disabled):active{
  background-color: #fff !important;
  color: #0facf3 !important;
  border: 2px solid #0facf3;
}

#create_new_button {
  margin-bottom: 60px;
}

.welcome-message h3.section-subheading{
  margin-bottom: 50px;
}

#qrcodeAccount {
  margin-top: 20px;
}

